/*--malaria ------------ #8C123F--*/
/*--Wed Red ------------ #A85D54--*/
/*--Wed celery --------- #C1C9A7--*/
/*--nude skin ---------- #DED5B6--*/
/*--There I go Again --- #FAF3D9--*/

.head {
	background-color: #8C123F;
	color: #FAF3D9;
}

section {
	background-color: #FAF3D9;
	color: #8C123F;
}


body {
	background-color: #DED5B6;
}
