/*--malaria ------------ #8C123F--*/
/*--Wed Red ------------ #A85D54--*/
/*--Wed celery --------- #C1C9A7--*/
/*--nude skin ---------- #DED5B6--*/
/*--There I go Again --- #FAF3D9--*/

.head {
	background-color: #8C123F;
	color: #FAF3D9;
}

#clear {
	background-color: #A85D54;
	border-color: #A85D54;
}

#submit {
	background-color: #C1C9A7;
	border-color: #C1C9A7;
	margin-right: 5px;
}

section, form {
	background-color: #FAF3D9;
	color: #8C123F;
}

.jumbotron {
	margin-top: 20px;
}

.table td {
 border-color: #A85D54;
}

.table thead th {
	border-color: #8C123F;
	border-bottom: 0;
}

#formAlert {
	display: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	/*background-color: #DED5B6;*/
	background-image: url(../images/background.jpg);
	background-size: auto;
}

button {
	margin-bottom: 10px;
	float: right;
}

h1 {
	font-size: 2em;
} 

h2 {
	font-size: 2.5em;
}

h1, h2 {
	text-align: center;
}

@media (min-width: 992px) {
	h1 {
		font-size: 8em;
		margin-top: -40px;
		margin-bottom: 0px;
	}

	h2 {
		margin-top: -60px;
		margin-bottom: -30px;
		text-align: left;
		font-size: 2em;
	}

	.left {
		display: inline-block;
	}

	.right {
		text-align: right;
	}
}


h4 {
	margin-top: 10px;
}

form {
	margin-bottom: 20px;
	border-radius: 5px;
}

section {
	border-radius: 5px;
}

th {
	font-weight: bold;
}